<div class="footer">
    <div class="container">
            <div class="row">
                <div class="col-md-auto">
                    <p class="tasty fw-bold" >Tasty</p>
                    <p class="fs-5 fw-normal">Tasty is a recipe sharing platform for creative recipe creators</p>
                    <p class="fs-5 fw-normal">Explore amaizing recipes and share your creativity with us!</p>
                </div>
            </div>
        </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.4/dist/js/bootstrap.bundle.min.js"
integrity="sha384-YUe2LzesAfftltw+PEaao2tjU/QATaW/rOitAq67e0CT0Zi2VVRL0oC4+gAaeBKu"
crossorigin="anonymous"></script>